
@import "https://fonts.googleapis.com/css?family=Open+Sans";
body {
    color:#fefefe;
    background-color:#78909C;
    display:flex;
    font:14px/1.3 "Open Sans",Helvetica,Sans-Serif;
    height:100vh;
    margin:2em auto;
    max-width:600px;
    padding:1em;
    text-align:justify
}
@media screen and (max-width:400px) {
    body
    {
        text-align:left
    }
}
.error_5xx {
    background-color:#773311;
}
.error_4xx {
    background-color:#ff9977;
}
.error_418 {
    background-color:#7EA907 !important;
}
.error-middle {
    display:block;
    vertical-align:middle
}
